<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<springProperty name="LOGS" source="log.path"/>
<springProperty name="SQL_LOG_LEVEL" source="log.sql.level"/>
<springProperty name="HASH_LOG_LEVEL" source="log.hash.level"/>

<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

<appender name="Console"
          class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
            %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
        </Pattern>
    </layout>
</appender>

<appender name="RollingFile"
          class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}\rt-Logger.log</file>
    <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
    </encoder>

    <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOGS}\archived\rt-logger-%d{yyyy-MM-dd}.log
        </fileNamePattern>
        <maxHistory>10</maxHistory>
        <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
</appender>

<!-- LOG everything at INFO level -->
<root level="info">
    <appender-ref ref="RollingFile" />
    <appender-ref ref="Console" />
</root>

<!-- Enable specific logs using the command line: java -jar ... -Dlog.sql.level=DEBUG -->
<!--    TODO: The wildcard doesn't work -->
<logger name="il.co.rtcohen.rt.dal.repositories.**" level="${SQL_LOG_LEVEL}/"/>
<logger name="il.co.rtcohen.rt.service.hashavshevet.HashavshevetSync" level="${HASH_LOG_LEVEL}"/>
<logger name="il.co.rtcohen.rt.service.hashavshevet.HashavshevetSyncSingleRecord" level="${HASH_LOG_LEVEL}"/>

</configuration>
